extends layout

block append head
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='/javascripts/chat.js')
    script(src='/socket.io/socket.io.js')
block content
  section#chatroom
    #messages
    input#message(type='text', placeholder='Enter your message here')
    input#send(type='button', value='Send')
